.table-styles {
  width: 100%;
  margin: auto;
}

.paginator-style {
  width: 100%;
  margin: auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  color: green;
}

.error {
  color: red;
}

.mat-stroked-button {
  margin: 2px !important;
}

.align-center {
  text-align: center;
}

.actions-width {
  width: 180px;
}
